body{
    background-color: #1E202B;
    height:100%; 
position: relative;
}
/*NAVBAR*/

.logo-img{
    width: 50px;
}
nav{
    padding-block: 50px !important;
    background-color: #1E202B;
    overflow: hidden;
}
.nav-menu{
    flex-grow: 0;


    a{
        padding-block: 0;
        padding-inline: 20px !important;
        color: white;
        border: 2px solid transparent  ;
        transition: all 0.2s ease; 
    }
    .active{
        color: #009AD8 !important;
        border: 2px solid #009AD8  ;
        background-color: transparent;
        border-radius: 50px;
    }
    a:hover{
        color: #009AD8 !important;
        border: 2px solid #009AD8  ;
        background-color: transparent;
        border-radius: 50px;
    }
}
.nav-logo{
    a{
        color: white;
    }
}

#navbar-toggler{
    color: white !important;
    border: 2px solid transparent; 
    transition: all 0.2s ease; 
    border-radius: 20px;
    width: 40px;
    height: 40px;
}
#navbar-toggler:hover{
    color: #009AD8 !important;
    border : 2px solid #009AD8 !important;
    
}
.collapsed-navbar{
    background-color: #262936;
    margin-top: 10px;
    a{
     color: white !important;
    }
    .active{
        color: #009AD8 !important;
    }
    ul{
        width: 100%;
    }
    li{
        border-bottom: 1px solid rgba(204, 204, 204, 0.253);
        box-sizing: border-box;
        padding-block: 10px !important;
    }
    li:last-child{
        border-bottom: none !important;
    }
    
}
.breadcrumb-nav{
    background-color: #262936;
}





/* HERO => SEARCHBAR*/
#weather-body{
    padding-bottom: 50px;
    background-image: url(/imgs/banner.png);
    background-color: #1E202B;
    background-repeat: no-repeat;
}
.searchbar {
    position: relative;
    .form-control:focus{
        box-shadow: none !important;
    }
    form{
        margin-top: 50px;
        width: 100%;
    }
    input{
    background-color: #1E202B !important;
    border-radius: 30px;
    padding-block: 13px;
    border: none !important;
    color: white !important;
}
#search{
    padding-left: 20px !important;
}
    input::placeholder{
        color:#86888db4 !important;
    }
    button{
        border-left: none;
        background-color: #009AD8 !important;
        color: white !important;
        border-radius: 30px !important;
        padding-inline: 25px;
        position: absolute;
        right: 10px;
        bottom: 6px;
    }
}

/*HERO => WEATHER DISPLAY*/
.weather-display{
    .row>*{
        padding: 0 !important;
    }
    .title-1, .title-3{
        background-color: #2D303D;
    }
    .title-1{
        border-top-left-radius: 10px;
    }
    .title-3{
        border-top-right-radius: 10px;
    }
    .title-2{
        background-color: #222530;
    }
    .weather-body-1, .weather-body-3{
        background-color: #323544;
        height: 370px;
    }
    .weather-body-1{
        border-bottom-left-radius: 10px;
    }
    .weather-body-3{
        border-bottom-right-radius: 10px;
    }
    .weather-body-2{
        background-color: #262936;
        height: 370px;
    }
    .today-temp{
        font-size: 90px;
    }
    .icon{
        width: 100px;
        position: relative;
        right: 20%;
    }
    .icon-2, .icon-3{
        width: 100px;
    }
    .condition, .tomorrow-condition, .aftertomorrow-condition{
        color: #009AD8;
    }
}

/* CONTACT */
#contact-section{
    background-color: #262936;
    padding-block: 50px;
}
.contact-form{
    position: relative;
    .form-control:focus{
        box-shadow: none !important;
    }
    #subscribe{
        padding-left: 20px !important;
    }
    .subscribe-input::placeholder{
        color:#86888db4 !important;
    }
    .subscribe-input{
        background-color: #1E202B !important;
        border-radius: 30px;
        padding-block: 13px;
        border: none !important;
        color: white !important;}
        .subscribe-btn{
            border-left: none;
            background-color: #009AD8 !important;
            color: white !important;
            border-radius: 30px !important;
            padding-inline: 25px;
            position: absolute;
            right: 10px;
            bottom: 6px;
        }
    }
    
    .contact-icons{
        color: #009AD8;
        i{
            padding: 10px;
            font-size: 20px;
            background-color: #1E202B;
            border-radius: 50%;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            transition: all 0.2s;
    }
    i:hover{
        color: white;
        background-color: #009AD8;
    }
}
.copyright-info{
    font-size: 14px;
    font-weight: 300;
    color: #BFC1C8;
}

@media screen and (max-width:1000px){
    #navbar-toggler{
        display: block !important;
    }
    .contact-icons{
        text-align: start !important;
        margin-top: 20px;
    }
    #weather-body{
        max-height: 70%;
    }
    #contact-section{
        text-align: center;
    }
}
